<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/popup-styles.css">
    <script src="../scripts/cryptoLight.js"></script>
    <title>Authentification</title>
</head>
<body>
    <h1>LinkVault</h1>
    <form id="passwordCreationForm" class="hidden">
        <input type="password" placeholder="Mot de passe">
        <input type="password" placeholder="Confirmez votre mot de passe">
        <button type="submit">Create</button>
    </form>
    <form id="loginForm" class="hidden">
        <input type="password" placeholder="Mot de passe">
        <button type="submit">Unlock</button>
    </form>
    <script src="../scripts/popup.js"></script>
</body>
</html>