:root {
    --background-color: #2c2c2c;
    --text-color: white;
    --button-color: #ebebeb;
    --invalid-color: indianred;
    --valid-color: cornflowerblue;
    --correct-color: green;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    margin: 10px 0;
    height: 12px;
    background: plum;
    opacity: 0.7;
}
.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(127, 127, 127);
    cursor: pointer;
    border-radius: 50%;
  }
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none !important;
}

body {
    font-family: monospace;
    color: var(--text-color);
    background-color: #2c2c2c;
    margin: 0;
    width: 300px;
}
.appTitle {
    font-family: "Inter", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    width: 100%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ffffff17;
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, .1));
    transition: color 0.12s ease-in-out;
    color: grey;
}
.ml3 {
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0;
}
.appTitle .titleSufix {
    position: absolute;
    margin-left: 74%;
    top: 10%;
    left: 0;
    font-size: 12px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
input {
    width: 240px;
    height: 42px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 20px;
    font-size: large;
    text-align: center;
    background-color: #171717;
    color: var(--text-color);
}
input.wrong {
    border: 2px solid red;
    animation: shake 0.5s;
}
input:focus {
    outline: none;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}
button {
    cursor: pointer;
    width: 240px;
    height: 42px;
    border-style: none;
    border-radius: 10px;
    font-size: large;
}
.bottomInfo {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    animation: blink 1s infinite;
}
#settingsForm {
    margin: 20px 0;
}
#settingsForm button {
    margin: 0 0 20px 0;
    border: solid 2px var(--button-color);
}
#settingsForm button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    transform: scale(1.02);
    transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

.inlineCheckBox {
    margin-top: 20px;
}
.inlineCheckBox label {
    display: flex;
    align-items: flex-end;
}
.inlineCheckBox input {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
#bottomBar {
    display: flex;
    border-top-style: solid;
    border-width: 1px;
    border-color: #ffffff17;
    padding: 6px 0;
}
#bottomBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#bottomBar button:hover {
    background-color: #ffffff17;
    transform: scale(1.02);
}
#bottomBar button img {
    pointer-events: none;
    height: 80%;
}
#bottomBar .inlineCheckBox {
    width: 220px;
}

#miningForm {
    align-items: flex-start;
    margin: 0 30px 20px;
    width: auto;
    color: #c1c1c1;
}
.inlineRange {
    display: flex;
    flex-direction: column;
    background-color: #ffffff0d;
    padding: 10px;
    width: -webkit-fill-available;
    border-radius: 6px;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, .4));
}
.inlineRange label {
    font-size: medium;
    font-weight: bold;
}
.inlineRange input {
    width: auto;
    margin: 6px 0 0;
}
#miningForm h2 {
    margin: 14px 0 0;
}
#miningForm h2 span {
    color: var(--text-color);
}

/* Center Screen Button - Visual only */
.centerScreenBtnContrainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    filter: drop-shadow(-2px -1px 5px black) blur(.2px) brightness(1);
    animation: centerScreenBtnContrainer 2s infinite;
    transition: filter 0.12s ease-in-out;
}
@keyframes centerScreenBtnContrainer {
    0% { filter: drop-shadow(-2px -1px 5px black) blur(.2px) brightness(1); }
    50% { filter: drop-shadow(-1px 0px 7px black) blur(.26px) brightness(.96); }
    100% { filter: drop-shadow(-2px -1px 5px black) blur(.2px) brightness(1); }
}
#centerScreenBtnWrap {
    pointer-events: none;
    width: 120px;
    height: 120px;
}
#centerScreenBtnWrap.active {
    pointer-events: all;
    cursor: pointer;
}
#centerScreenBtnWrap.active:hover {
    filter: blur(.3px) brightness(1.02);
    transform: scale(1.01);
}
#centerScreenBtn {
    border-radius: 50%;
    height: 100%;
    width: 100%;

    filter: invert(1) drop-shadow(-2px 3px 4px var(--text-color));
    background: radial-gradient(circle, rgba(207, 207, 207, 1) 0%, rgba(216, 216, 216, .8) 30%, rgba(252, 252, 252, .72) 42%, rgba(232, 232, 232, .92) 64%, rgb(236 236 236 / 50%) 72%);
}
#centerScreenBtn .wrap {
    overflow: visible;
    position: absolute;
    /*filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .1));*/
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 4));
}
#pickAxe {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: scale(.6) rotate(0deg) translate(20%, 0%);
    opacity: 1;
    transition: opacity 0.24s ease-in-out;
}
#pickAxe.invisible {
    opacity: 0 !important;
}
.lockCircle {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 100%;
    transform: scale(.9);
    stroke-width: 3.2px;
}
.lockCircle svg {
    position: absolute;
    overflow: visible;
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
}
#centerScreenBtn .wrap:nth-child(1) .lockCircle { transform: scale(.88); stroke-width: 3.2px; }
#centerScreenBtn .wrap:nth-child(2) .lockCircle { transform: scale(.79); stroke-width: 3.52px; }
#centerScreenBtn .wrap:nth-child(3) .lockCircle { transform: scale(.70); stroke-width: 3.872px; }
#centerScreenBtn .wrap:nth-child(4) .lockCircle { transform: scale(.61); stroke-width: 4.24px; }
#centerScreenBtn .wrap:nth-child(5) .lockCircle { transform: scale(.52); stroke-width: 4.64px; }
#centerScreenBtn .wrap:nth-child(6) .lockCircle { transform: scale(.43); stroke-width: 5.04px; }
#centerScreenBtn .wrap:nth-child(7) .lockCircle { transform: scale(.34); stroke-width: 5.44px; }
.lockCircle svg path {
    fill: none;
    stroke: black;
    stroke-linecap: round;
}
.lockCircle svg:nth-child(1) { transform: rotate(0deg); }
.lockCircle svg:nth-child(2) { transform: rotate(60deg); }
.lockCircle svg:nth-child(3) { transform: rotate(120deg); }
.lockCircle svg:nth-child(4) { transform: rotate(180deg); }
.lockCircle svg:nth-child(5) { transform: rotate(240deg); }
.lockCircle svg:nth-child(6) { transform: rotate(300deg); }